.button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;

    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.button:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.button:disabled {
    color: #787878;
    border-color: #8e8e8d;
    border-radius: 6px;
    background: #636b71;
}

.default {
}

.red {
    background: red;
}
